In [2]:
import pandas as pd
import numpy as np

In [3]:
data= pd.read_csv('sales_.csv')

# Data Exploring

In [13]:
data.head()

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
0,O966977,C00397,P0022,3,39.25,06-07-25,Delivered,PayPal,Central,0.00
1,O696648,C00236,P0023,5,18.92,06-07-25,DELAYED,credit card,North,0.00
2,O202644,C00492,P0011,1,29.68,06-07-25,delivered,Bank Transfer,North,0.15
3,O501803,C00031,P0003,1,32.76,06-07-25,Cancelled,Credit Card,Central,0.20
4,O322242,C00495,P0016,1,47.62,06-07-25,DELAYED,Credit Card,West,0.20

In [14]:
data.tail()

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
2995,O868860,C00233,P0001,5,43.40,06-07-25,Delivered,Bank Transfer,West,0.2
2996,O949709,C00246,P0029,4,34.04,06-07-25,DELAYED,Bank Transfer,West,0.2
2997,O763639,C00182,P0026,1,42.34,06-07-25,Delivered,credit card,South,0.0
2998,O753958,C00074,P0003,5,35.96,06-07-25,Delivered,Credit Card,Central,0.0
2999,O929624,C00405,P0004,3,43.23,06-07-25,delivered,Credit Card,West,0.1

In [15]:
data.describe()

        unit_price  discount_applied
count  2999.000000       2483.000000
mean     28.945388          0.100262
std      12.085893          0.069987
min       8.000000          0.000000
25%      18.830000          0.050000
50%      28.630000          0.100000
75%      39.640000          0.150000
max      49.990000          0.200000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2999 non-null   object
 1   customer_id       2998 non-null   object
 2   product_id        2995 non-null   object
 3   quantity          2997 non-null   object
 4   unit_price        2999 non-null   float64
 5   order_date        2997 non-null   object
 6   delivery_status   2997 non-null   object
 7   payment_method    2997 non-null   object
 8   region            3000 non-null   object
 9   discount_applied  2483 non-null   float64
dtypes: float64(2), object(8)
memory usage: 234.5+ KB

In [17]:
data.dtypes

order_id             object
customer_id          object
product_id           object
quantity             object
unit_price          float64
order_date           object
delivery_status      object
payment_method       object
region               object
discount_applied    float64
dtype: object

In [12]:
data.dtypes

order_id                    object
customer_id                 object
product_id                  object
quantity                     int64
unit_price                 float64
order_date          datetime64[ns]
delivery_status             object
payment_method              object
region                      object
discount_applied           float64
dtype: object

In [18]:
data.shape

(3000, 10)

# Data Cleaning

## Null Check

In [19]:
data.isnull().sum()

order_id              1
customer_id           2
product_id            5
quantity              3
unit_price            1
order_date            3
delivery_status       3
payment_method        3
region                0
discount_applied    517
dtype: int64

In [ ]:
data[data['customer_id'].isnull()]

Empty DataFrame
Columns: [order_id, customer_id, product_id, quantity, unit_price, order_date, delivery_status, payment_method, region, discount_applied]
Index: []

In [24]:
data[data['order_id'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
862,NaN,C00237,P0013,1,39.26,06-07-25,Delayed,Credit Card,West,0.2

In [26]:
data[data['product_id'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
569,O711887,C00125,NaN,5,36.65,06-07-25,Cancelled,Bank Transfer,South,0.15
613,O231318,C00251,NaN,5,47.51,06-07-25,Delivered,PayPal,West,0.20
1267,O327646,C00451,NaN,4,29.16,06-07-25,Delayed,credit card,West,0.15
1841,O218065,C00324,NaN,5,25.61,06-07-25,Delayed,PayPal,North,0.20
2803,O140946,C00251,NaN,3,22.20,06-07-25,Delivered,PayPal,East,0.05

In [28]:
data[data['quantity'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
1113,O718743,C00209,P0024,NaN,43.59,06-07-25,Delivered,credit card,Central,0.0
1712,O490113,C00286,P0010,NaN,13.49,06-07-25,DELAYED,Bank Transfer,South,0.2
2223,O189925,C00098,P0013,NaN,46.37,06-07-25,Delivered,Bank Transfer,South,NaN

In [30]:
data[data['unit_price'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
496,O837867,C00350,P0028,4,NaN,06-07-25,delivered,Credit Card,East,0.15

In [33]:
data[data['order_date'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
956,O715915,C00327,P0006,5,42.03,NaN,Cancelled,Bank Transfer,Central,0.00
1373,O746155,C00158,P0003,2,45.43,NaN,Delivered,credit card,Central,NaN
2090,O218231,C00324,P0014,4,12.76,NaN,Delayed,credit card,East,0.15

In [36]:
data[data['delivery_status'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
601,O112478,C00471,P0025,2,9.00,06-07-25,NaN,Credit Card,North,0.20
733,O697006,C00324,P0015,5,42.49,06-07-25,NaN,credit card,Central,NaN
1124,O239188,C00423,P0012,4,37.82,06-07-25,NaN,credit card,East,0.05

In [38]:
data[data['payment_method'].isnull()]

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
858,O687548,C00500,P0004,2,45.04,06-07-25,Cancelled,NaN,West,0.15
963,O912757,C00248,P0025,1,29.30,06-07-25,DELAYED,NaN,East,0.05
1954,O331280,C00221,P0020,5,42.27,06-07-25,DELAYED,NaN,West,0.15

In [ ]:
data = data.drop(data[data['customer_id'].isnull()].index)
data = data.drop(data[data['order_id'].isnull()].index)
data = data.drop(data[data['quantity'].isnull()].index)
data = data.drop(data[data['product_id'].isnull()].index)
data = data.drop(data[data['unit_price'].isnull()].index)
data = data.drop(data[data['order_date'].isnull()].index)
data = data.drop(data[data['delivery_status'].isnull()].index)
data = data.drop(data[data['payment_method'].isnull()].index)

In [40]:
data['discount_applied']= data['discount_applied'].fillna(0.00)

In [15]:
data.isnull().sum()

order_id            0
customer_id         0
product_id          0
quantity            0
unit_price          0
order_date          0
delivery_status     0
payment_method      0
region              0
discount_applied    0
dtype: int64

## Checking for Duplications

In [6]:
data.duplicated().sum()

np.int64(0)

## Check for Inconsistency

### quantity

In [71]:
data['quantity'].unique()

array(['3', '5', '1', '2', '4', 'three', 'five'], dtype=object)

In [72]:
data.loc[data['quantity'] == 'three', 'quantity'] = '3'
data.loc[data['quantity'] == 'five', 'quantity'] = '5'

### delivery_status

In [48]:
data['delivery_status'].unique()

array(['Delivered', ' DELAYED', 'delivered', ' Cancelled ', 'Delayed',
       'delrd', 'delyd'], dtype=object)

In [51]:
data.loc[data['delivery_status'] == 'delivered', 'delivery_status'] = 'Delivered'
data.loc[data['delivery_status'] == 'delrd', 'delivery_status'] = 'Delivered'

In [60]:
data.loc[data['delivery_status'] == ' DELAYED', 'delivery_status'] = 'Delayed'
data.loc[data['delivery_status'] == 'delyd', 'delivery_status'] = 'Delayed'

In [62]:

data.loc[data['delivery_status'] == ' Cancelled ', 'delivery_status'] = 'Cancelled'

### payment_method

In [49]:
data['payment_method'].unique()

array(['PayPal', 'credit card', 'Bank Transfer', 'Credit Card',
       'bank transfr'], dtype=object)

In [53]:
data.loc[data['payment_method'] == 'credit card', 'payment_method'] = 'Credit Card'

In [54]:
data.loc[data['payment_method'] == 'bank transfr', 'payment_method'] = 'Bank Transfer'

### region

In [50]:
data['region'].unique()

array(['Central', 'North', 'West', 'East', 'South', 'nrth'], dtype=object)

In [55]:
data.loc[data['region'] == 'nrth', 'region'] = 'North'

In [64]:
data['region'].value_counts(normalize=True) * 100

region
North      20.275260
Central    20.073850
East       20.040282
South      19.906009
West       19.704599
Name: proportion, dtype: float64

## Data Types Fixing

In [7]:
pd.to_datetime(data['order_date'])

0      2025-06-07
1      2025-06-07
2      2025-06-07
3      2025-06-07
4      2025-06-07
          ...
2974   2025-06-07
2975   2025-06-07
2976   2025-06-07
2977   2025-06-07
2978   2025-06-07
Name: order_date, Length: 2979, dtype: datetime64[ns]

In [8]:
data['order_date']= pd.to_datetime(data['order_date'])

In [73]:
data['quantity'] = data['quantity'].astype(int)

# Saving File

In [17]:
data.head(10)

,order_id,customer_id,product_id,quantity,unit_price,order_date,delivery_status,payment_method,region,discount_applied
0,O966977,C00397,P0022,3,39.25,2025-06-07,Delivered,PayPal,Central,0.00
1,O696648,C00236,P0023,5,18.92,2025-06-07,Delayed,Credit Card,North,0.00
2,O202644,C00492,P0011,1,29.68,2025-06-07,Delivered,Bank Transfer,North,0.15
3,O501803,C00031,P0003,1,32.76,2025-06-07,Cancelled,Credit Card,Central,0.20
4,O322242,C00495,P0016,1,47.62,2025-06-07,Delayed,Credit Card,West,0.20
5,O190175,C00388,P0005,3,37.89,2025-06-07,Delayed,Bank Transfer,North,0.10
6,O272646,C00328,P0027,5,30.83,2025-06-07,Delivered,PayPal,Central,0.05
7,O411881,C00201,P0019,3,12.56,2025-06-07,Delivered,Credit Card,East,0.00
8,O170570,C00076,P0030,3,28.32,2025-06-07,Delivered,PayPal,Central,0.15
9,O619944,C00330,P0002,1,30.96,2025-06-07,Delayed,Credit Card,South,0.15

In [19]:
data.to_csv('sales_.csv')