In [3]:
import pyodbc
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Data Exracting

In [4]:
server_name = 'localhost' 
database_name = 'Retail_Staging'
trusted_connection = 'yes'

In [5]:
connection_string = (
    f"DRIVER={{ODBC Driver 17 for SQL Server}};" 
    f"SERVER={server_name};"
    f"DATABASE={database_name};"
    f"Trusted_Connection={trusted_connection};"
)

In [6]:
connection = pyodbc.connect(connection_string)

In [7]:
sql_query = "SELECT * FROM product_info"

In [8]:
data = pd.read_sql_query(sql_query, connection)

C:\Users\hp\AppData\Local\Temp\ipykernel_9520\2307129927.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(sql_query, connection)

# Data Exploring

In [9]:
data.head()

,product_id,product_name,category,launch_date,base_price,supplier_code
0,P0001,Storage Product 39,Storage,2025-03-11,15.88,339.0
1,P0002,Cleaning Product 82,Cleaning,2024-08-18,34.23,974.0
2,P0003,Cleaning Product 85,Cleaning,2024-07-15,7.92,745.0
3,P0004,Kitchen Product 82,Kitchen,2025-04-19,9.13,589.0
4,P0005,Personal Care Product 1,Personal Care,2024-10-20,31.10,559.0

In [10]:
data.tail()

,product_id,product_name,category,launch_date,base_price,supplier_code
25,P0026,Storage Product 50,Storage,2025-02-08,27.059999,952.0
26,P0027,Outdoors Product 55,Outdoors,2024-09-21,23.049999,127.0
27,P0028,Outdoors Product 53,Outdoors,2025-04-10,34.279999,587.0
28,P0029,Cleaning Product 69,Cleaning,2025-03-15,23.410000,424.0
29,P0030,Cleaning Product 72,Cleaning,2025-04-04,9.770000,455.0

In [11]:
data.describe()

       base_price  supplier_code
count   30.000000      30.000000
mean    22.844333     646.400000
std     10.269165     228.179693
min      6.080000     127.000000
25%     14.812500     483.750000
50%     23.230000     618.500000
75%     31.744999     854.000000
max     39.209999     993.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     30 non-null     object
 1   product_name   30 non-null     object
 2   category       30 non-null     object
 3   launch_date    30 non-null     object
 4   base_price     30 non-null     float64
 5   supplier_code  30 non-null     float64
dtypes: float64(2), object(4)
memory usage: 1.5+ KB

In [13]:
data.dtypes

product_id        object
product_name      object
category          object
launch_date       object
base_price       float64
supplier_code    float64
dtype: object

In [14]:
data.shape

(30, 6)

# Data Cleaning

## Null Check

In [15]:
data.isnull().sum()

product_id       0
product_name     0
category         0
launch_date      0
base_price       0
supplier_code    0
dtype: int64

## Checking for Duplications

In [16]:
data.shape

(30, 6)

In [17]:
len(data['product_id'].unique())

30

In [18]:
data.duplicated().sum()
# No Duplication

np.int64(0)

## Check for Inconsistency

### Product Name

In [19]:
len(data['product_name'].unique())
# Each product has a unique name

30

### Category

In [20]:
data['category'].unique()

array(['Storage', 'Cleaning', 'Kitchen', 'Personal Care', 'Outdoors'],
      dtype=object)

### Supplier Code

In [21]:
len(data['supplier_code'].unique())
# Each product has a unique supplier code

30

### Base Price

In [22]:
data['base_price'].unique()

array([15.88000011, 34.22999954,  7.92000008,  9.13000011, 31.10000038,
       36.06000137, 33.63000107, 31.95999908,  8.        , 17.71999931,
       11.07999992, 14.67000008, 36.52000046, 13.22000027, 39.20999908,
       26.70999908, 16.45999908,  6.07999992, 30.29999924, 30.27000046,
       20.22999954, 19.77000046, 36.04000092, 26.32999992, 15.23999977,
       27.05999947, 23.04999924, 34.27999878, 23.40999985,  9.77000046])

In [23]:
data['base_price'].describe()

count    30.000000
mean     22.844333
std      10.269165
min       6.080000
25%      14.812500
50%      23.230000
75%      31.744999
max      39.209999
Name: base_price, dtype: float64

## Data Types Fixing

In [24]:
pd.to_datetime(data['launch_date'])

0    2025-03-11
1    2024-08-18
2    2024-07-15
3    2025-04-19
4    2024-10-20
5    2024-10-09
6    2024-09-30
7    2024-08-29
8    2025-04-18
9    2024-08-14
10   2025-03-25
11   2025-04-19
12   2025-06-17
13   2025-02-02
14   2024-08-08
15   2025-02-20
16   2024-12-16
17   2024-07-18
18   2024-07-17
19   2024-08-11
20   2024-09-28
21   2024-10-04
22   2025-01-18
23   2025-02-24
24   2024-07-16
25   2025-02-08
26   2024-09-21
27   2025-04-10
28   2025-03-15
29   2025-04-04
Name: launch_date, dtype: datetime64[ns]

In [25]:
data['launch_date']= pd.to_datetime(data['launch_date'])

## Saving File

In [26]:
data.head(10)

,product_id,product_name,category,launch_date,base_price,supplier_code
0,P0001,Storage Product 39,Storage,2025-03-11,15.880000,339.0
1,P0002,Cleaning Product 82,Cleaning,2024-08-18,34.230000,974.0
2,P0003,Cleaning Product 85,Cleaning,2024-07-15,7.920000,745.0
3,P0004,Kitchen Product 82,Kitchen,2025-04-19,9.130000,589.0
4,P0005,Personal Care Product 1,Personal Care,2024-10-20,31.100000,559.0
5,P0006,Cleaning Product 16,Cleaning,2024-10-09,36.060001,980.0
6,P0007,Personal Care Product 64,Personal Care,2024-09-30,33.630001,379.0
7,P0008,Storage Product 47,Storage,2024-08-29,31.959999,788.0
8,P0009,Outdoors Product 13,Outdoors,2025-04-18,8.000000,695.0
9,P0010,Cleaning Product 70,Cleaning,2024-08-14,17.719999,321.0

In [27]:
data.to_csv('Product.csv')

# Loading The Data

In [32]:
dwh_conn = pyodbc.connect(
            "DRIVER={ODBC Driver 17 for SQL Server};"
            "SERVER=localhost;"
            "DATABASE=retail_dwh;"
            "Trusted_Connection=yes;"
        )

In [33]:
dwh_cursor = dwh_conn.cursor()

In [34]:
for index, row in data.iterrows():
    dwh_cursor.execute("""
        INSERT INTO Dim_Product (product_id, product_name, category, base_price, supplier_code, launch_date)
        VALUES (?, ?, ?, ?, ?, ?)
    """,
    row['product_id'],
    row['product_name'],
    row['category'],
    row['base_price'],
    row['supplier_code'],
    row['launch_date'])

In [35]:
dwh_conn.commit()

In [36]:
dwh_cursor.close()
dwh_conn.close()